@charset "utf-8";

@import url('gridtab.min.css');
@import url('animations.css');
@import url('animations-ie-fix.css');
@import url('layout.css'); 
@import url('style.css'); 
@import url('font.css'); 
@import url('slick.css'); 
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);  

html { height: 100%; overflow-x: hidden;  }
body { min-width: 320px; height: 100%; color: #333;  word-break: keep-all; word-wrap: break-word; font-weight:400;font-size: 14px;font-family: 'Noto Sans KR',sans-serif;}
h1, h2, h3, h4, h5, h6 { font-size: 15px; line-height: 100%; font-family: 'Noto Sans KR',sans-serif;}
input, select, textarea, button {  }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p { margin: 0px; padding:0px; -webkit-text-size-adjust:none; }
table { width: 100%; border-collapse: collapse; border-spacing: 0px; table-layout: fixed;}
fieldset, img, abbr, acronym { border: 0px; }
img { vertical-align: top; }
legend { position: absolute; height: 0; line-height: 0; font-size: 0; overflow: hidden; }
ins { font-style: normal; }
del { text-decoration: none; }
address, caption, cite, code, dfn, em, var { font-style: normal; font-weight: normal; }
ol,ul { list-style: none; }
caption { height: 0; line-height: 0; font-size: 0; overflow: hidden; text-indent: -10000px; }
q:before, q:after { content:''; }
a { color: inherit; text-decoration: none; cursor: pointer; }
a > * { color: inherit; }
/* hr { display: none; } */
button { padding: 0; border: 0 none; background: none; }
button > span { color: inherit; }
.hidden { display: none; }
header, footer, article, section, aside, details, figure, figcaption, nav { display: block; margin: 0; padding: 0; }
audio[controls], canvas, video { display: inline-block; }
button, input, select, textarea { margin: 0; font-size: 100%; vertical-align: middle;  }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; font-family: 'Noto Sans KR'; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box;  }
input[type="search"] { -webkit-appearance: none; -moz-box-sizing: content-box;  }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
select::-ms-expand{
    display: none;
}
label input[type="checkbox"], label input[type="radio"] { vertical-align: baseline; }


input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='search'],
textarea { width: 100%; box-sizing: border-box; font-family: 'Noto Sans KR';color: #646464;}

::-webkit-input-placeholder { color: #6e6e6e; opacity: 1; } 
[id^='find_cp'] .sel_btn input::-webkit-input-placeholder { color: #333; opacity: 1; } 
::-moz-placeholder  { color: #6e6e6e; opacity: 1; }
input[placeholder]  { color: #6e6e6e; opacity: 1; }
[id^='find_cp'] .sel_btn *::-moz-placeholder { color: #333; }

::-moz-placeholder  {color:#6e6e6e;}
input::-webkit-input-placeholder{color:#6e6e6e;}
input:-moz-input-placeholder{color:#6e6e6e;}
input::-moz-input-placeholder{color:#6e6e6e;}
input:-ms-input-placeholder{color:#6e6e6e;}


textarea { width: 100%; box-sizing: border-box; font-family: 'Noto Sans KR',sans-serif;font-size: 15px;}

::-webkit-input-placeholder { color: #969696; opacity: 1; font-size: 15px;} 
[id^='find_cp'] .sel_btn input::-webkit-input-placeholder { color: #969696; opacity: 1;font-size: 15px; } 
::-moz-placeholder  { color: #969696; opacity: 1; font-size: 15px;}
input[placeholder]  { color: #969696; opacity: 1; font-size: 15px;}
[id^='find_cp'] .sel_btn *::-moz-placeholder { color: #969696; font-size: 15px;}

::-moz-placeholder  {color:#969696;font-family: 'Noto Sans KR',sans-serif;font-weight: 300;font-size: 15px;}
input::-webkit-input-placeholder{color:#969696;font-family: 'Noto Sans KR',sans-serif;font-weight: 300;font-size: 15px;}
input:-moz-input-placeholder{color:#969696;font-family: 'Noto Sans KR',sans-serif;font-weight: 300;font-size: 15px;}
input::-moz-input-placeholder{color:#969696;font-family: 'Noto Sans KR',sans-serif;font-weight: 300;font-size: 15px;}
input:-ms-input-placeholder{color:#969696;font-family: 'Noto Sans KR',sans-serif;font-weight: 300;font-size: 15px;}

/* WebKit browsers */
::-webkit-input-placeholder { 
   font-size:14px;color:#969696;font-family: 'Noto Sans KR',sans-serif;font-weight: 400;
}
 
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder { 
   font-size:14px;color:#969696;font-family: 'Noto Sans KR',sans-serif;font-weight: 400;
}
 
/* Mozilla Firefox 19+ */
::-moz-placeholder { 
  font-size:14px;color:#969696;font-family: 'Noto Sans KR',sans-serif;font-weight: 400;
}
 
/* Internet Explorer 10+ */
:-ms-input-placeholder { 
   font-size:14px;color:#969696;font-family: 'Noto Sans KR',sans-serif;font-weight: 400;
}

#skip_nav { width: 100%; height: 0; text-align: center; overflow: hidden; }
#skip_nav a { color: #005aab; line-height: 20px; font-size: 14px; font-weight: bold; float: left; }
#skip_nav a:focus { position: absolute; top: 0; left: 0; width: 100%; height: 20px; text-decoration: underline; background: #fff; overflow: visible; z-index: 1000; }